.c-promo {
  padding-bottom: 1.5rem;
  width: 100%;
}

.c-promo--offline {
  &:before {
    color: #fff;
    content: '✔';
    left: 1.5rem;
    position: absolute;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    top: 0.75rem;
  }

  &:hover:before {
    content: '✔ Available offline';
  }
}

.c-promo__icon {
  padding-right: 0.25rem;
}
